body {
    overflow: hidden;
    background-color: rgb(3, 51, 130);
}
#introTitle {
    font-family: Arial, sans-serif; 
    font-size: 100px; 
    color: white;
    
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

#gameStartButton {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 20px;
}


#gameInfoBg {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 500px;
    background-color: rgb(8, 74, 217);
    border-radius: 20px;
}


#gameInfo {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 500px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
}

#gameControls {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 100px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
}

#gameOver {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 500px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
}

#gameWin {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 500px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
}

#restartButton {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 20px;
}
#restartButton:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

